<!-- {%extends 'base.html'%} -->
{%load static%}
{%block content%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style media="screen">
    .btn-circle.btn-xl {
      width: 70px;
      height: 70px;
      padding: 10px 16px;
      border-radius: 35px;
      font-size: 24px;
      line-height: 1.33;
    }

    .btn-circle {
      width: 30px;
      height: 30px;
      padding: 6px 0px;
      border-radius: 15px;
      text-align: center;
      font-size: 12px;
      line-height: 1.42857;
    }

    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }
    .bs-example{
      margin: 0px;

  }
.navbar-brand{
font-size: 20px;
font-family: sans-serif;

}
  </style>
</head>
<body>



<div class="bs-example">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a href="/" class="navbar-brand">SLMS</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                


            </div>

            <div class="navbar-nav">
              <a href="/" class="nav-item nav-link active">Home</a>

                <!--for book dropdown button-->
                <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Book</a>
                  <div class="dropdown-menu">
                    <a href="addbook" class="dropdown-item">Add Book</a>
                    <a href="viewbook" class="dropdown-item">View Book</a>
                  </div>
                </div>

                <!--for issuebook dropdown button-->
                <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Issue Book</a>
                  <div class="dropdown-menu">
                    <a href="issuebook" class="dropdown-item">Issue New Book</a>
                    <a href="viewissuedbook" class="dropdown-item">View Issued Book</a>
                  </div>
                </div>

                <!--for student dropdown button-->
                <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Student</a>
                  <div class="dropdown-menu">
                    <a href="viewstudent" class="dropdown-item">View Student</a>
                  </div>
                </div>
                <a href="logout" class="nav-item nav-link">LOGOUT</a> &nbsp
                
            </div>




        </div>
    </nav>
</div>
  <div class="jumbotron">
    <h1 class="display-4">Hello !</h1>
    <p class="lead" style="text-align: center;">As you are Admin, you can add a book to library, view available book in library,
      Issue books to students,
      View issued book to students and many more ... !

    </p>
    <hr class="my-4">
    <p style="text-align: center;">Option Available For You</p>
    <div class="options" style="text-align:center">
      <a href="/addbook" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button"
        aria-pressed="true">Add Book To Library</a><br><br>
      <a href="/viewbook" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button"
        aria-pressed="true">View Available Book</a><br><br>
      <a href="/issuebook" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button"
        aria-pressed="true">Issue New Book</a><br><br>
      <a href="/viewissuedbook" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button"
        aria-pressed="true">View Issued Book</a><br><br>
      <a href="/viewstudent" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button"
        aria-pressed="true">View Student</a>
    </div>

  </div>
</body>

</html>
{%endblock%}